.background-links {
  background-color: #ffb042;
}

.links {
  display: grid;
  align-content: center;
  justify-items: center;
  height: 100vh;
  width: 95vw;
  grid-template-columns: 1fr 1fr;
  gap: 0.1rem;
}

.links__image {
  margin-bottom: -4px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 20px;
  width: 102px;
  height: auto;
}

figcaption {
  text-decoration: underline;
  margin-bottom: 16px;
}

@media only screen and (min-width: 500px) {
  .links__image {
    width: 160px;
  }
}

@media only screen and (min-width: 800px) {
  .links {
    grid-template-columns: 1fr 1fr;
  }
  .links__image {
    width: 200px;
  }
}
