* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Playfair Display";
  src: url(./Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf)
    format("truetype");
}

.skillsgrid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  font-size: 26px;
  flex-wrap: wrap;
}

nav {
  position: fixed;
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 1;
}

.navdiv {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #fabb1a;
  position: relative;
}

.navdiv:hover {
  box-shadow: 0px 0px 10px rgb(8, 0, 255);
}

.navelement {
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
a:hover {
  color: rgb(18, 0, 185);
}

.arrowimg {
  height: 30px;
  width: auto;
}
.arrow {
  position: absolute;
  bottom: -34px;
}

.containerdiv {
  height: 100vh;
}
.background-welcome {
  background-color: #ffb042;
}

.background-vita {
  background-color: #fa8334;
}

.background-skills {
  background-color: #ff8f4a;
}

.background-links {
  background-color: #ffb042;
}

.background-contact {
  background-color: #fa5934;
}
.background-footer {
  background-color: rgb(255, 199, 96);
  color: rgb(0, 0, 0);
}

.image {
  border: 4px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 30px black;
  max-height: 80vh;
  max-width: 80vw;
}

.vitatable {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 24px;
}

.about {
  max-width: 600px;
  padding: 10px;
  box-shadow: 5px 5px 10px black;
  border-radius: 30px;
  border: 4px solid black;
  background-color: #ffd95c;
}

h3 {
  font-size: 26px;
}
.skillitem {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: #ffe440;
  box-shadow: 5px 5px 5px black;
}

.linksflexitem {
  display: flex;
}
.linkscontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 95vw;
}

.linkimage {
  margin: 10px;
  margin-bottom: -4px;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 5px 5px 20px;
}

figcaption {
  color: black;
  text-decoration: underline;
}

input[type="text"] {
  height: 50vh;
}

.skillitem {
  animation-name: circleanimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* .skillitem:hover {
  background-color: rgb(64, 55, 140);
  cursor: pointer;
} */

@keyframes circleanimation {
  0% {
    transform: translate(5px);
  }
  50% {
    transform: translate(-5px);
  }
  100% {
    transform: translate(5px);
  }
}

.contactcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 95vw;
  font-size: 26px;
}
input[type="email"] {
  height: 40px;
  width: 300px;
}
input,
textarea {
  font-size: 26px;
  box-shadow: 5px 5px 20px;
  border-radius: 20px;
}

textarea {
  padding: 10px;
  box-shadow: 5px 5px 20px;
}

input[type="email"] {
  box-shadow: 5px 5px 20px;
  padding: 8px;
}
input[type="submit"] {
  padding: 3px;
  border-radius: 10px;
}

label {
  text-shadow: 5px 5px 20px black;
}
input:hover,
textarea:hover {
  box-shadow: 0px 0px 20px rgb(8, 0, 255);
}

.line {
  position: absolute;
  height: 1px;
  background-color: black;
  width: 100%;
  box-shadow: 0px 0px 5px black;
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 16px;
  }
}
